// Place all the styles related to the Activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.activity-listing {
  padding: rem-calc(15);
  background: #333;
  list-style: none;
  margin: 0;
  li {
    border: 1px solid #ccc;
    border-bottom: none;
    background: #eee;
    padding: rem-calc(5 15);
    @include transition(background-color .5s);
    @include clearfix;
    &:last-child {
      border-bottom: 1px solid #ccc;
    }
    &:hover {
      background-color: #fff;
      .alert {
        display: inline-block;
      }
    }
    .alert {
      display: none;
    }
  }
}