// Place all the styles related to the Activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.activity-listing {
  .row {
    border: 1px solid #ccc;
    border-bottom: none;
    @include transition(background-color .5s);
    &:last-child {
      border-bottom: 1px solid #ccc;
    }
    &:hover {
      background-color: $secondary-color;
    }
    .button-group {
      padding: 0;
    }
  }
}