/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree ./includes
 */

@import 'shared';

$include-open-sans: false;
$default-border-radius: 2px;
$header-font-family: 'IM Fell French Canon', serif;
$paragraph-font-family: sans-serif;
$paragraph-font-weight: 200;

$primary-color: #c34900;
$secondary-color: #00B1B2;

@import 'foundation';

html, body {
  font-family: $paragraph-font-family;
  font-weight: $paragraph-font-weight;
}

@import 'nav';
@import 'activities';
@import 'jumbotron';

@import 'footer';