%head
  %meta{ name: 'viewport', content: 'initial-scale=1, maximum-scale=1' }
  %title<
    Mastery
    - if content_for? :title
      |
      =content_for(:title)
  = stylesheet_link_tag '//fonts.googleapis.com/css?family=IM+Fell+French+Canon:400,400italic'
  = stylesheet_link_tag 'application', media: 'all'
  = javascript_include_tag 'modernizr'
  = csrf_meta_tags
  / [if lt IE 9]
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    -# <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
