- flash.each do |name, msg|
  - if msg.is_a?(String)
    .row
      .alert-box{class: (name == :notice ? "success" : "warning"), data: { alert: true}}
        %a.close{"data-dismiss" => "alert"} ×
        = content_tag :div, msg, :id => "flash_#{name}"